<p id="notice"><%= notice %></p>

<h1>User Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_categories.each do |user_category| %>
      <tr>
        <td><%= user_category.name %></td>
        <td><%= link_to 'Show', user_category %></td>
        <td><%= link_to 'Edit', edit_user_category_path(user_category) %></td>
        <td><%= link_to 'Destroy', user_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Category', new_user_category_path %>
