<%= form_with(model: travel_allowance_request, local: true) do |form| %>
  <% if travel_allowance_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel_allowance_request.errors.count, "error") %> prohibited this travel_allowance_request from being saved:</h2>

      <ul>
      <% travel_allowance_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.number_field :employee_id, id: :travel_allowance_request_employee_id %>
  </div>

  <div class="field">
    <%= form.label :employee_name %>
    <%= form.text_field :employee_name, id: :travel_allowance_request_employee_name %>
  </div>

  <div class="field">
    <%= form.label :expense_category %>
    <%= form.text_field :expense_category, id: :travel_allowance_request_expense_category %>
  </div>

  <div class="field">
    <%= form.label :date_of_expense %>
    <%= form.date_select :date_of_expense, id: :travel_allowance_request_date_of_expense %>
  </div>

  <div class="field">
    <%= form.label :amount_spent %>
    <%= form.text_field :amount_spent, id: :travel_allowance_request_amount_spent %>
  </div>

  <div class="field">
    <%= form.label :approval_status %>
    <%= form.text_field :approval_status, id: :travel_allowance_request_approval_status %>
  </div>

  <div class="field">
    <%= form.label :reimbursement_amount %>
    <%= form.text_field :reimbursement_amount, id: :travel_allowance_request_reimbursement_amount %>
  </div>

  <div class="field">
    <%= form.label :reimbursement_method %>
    <%= form.text_field :reimbursement_method, id: :travel_allowance_request_reimbursement_method %>
  </div>

  <div class="field">
    <%= form.label :manager_approval %>
    <%= form.check_box :manager_approval, id: :travel_allowance_request_manager_approval %>
  </div>

  <div class="field">
    <%= form.label :reimbursement_confirmation_email %>
    <%= form.text_field :reimbursement_confirmation_email, id: :travel_allowance_request_reimbursement_confirmation_email %>
  </div>

  <div class="field">
    <%= form.label :description_of_expense %>
    <%= form.text_area :description_of_expense, id: :travel_allowance_request_description_of_expense %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
