<p id="notice"><%= notice %></p>

<p>
  <strong>Loi detail:</strong>
  <%= @loi_item.loi_detail_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @loi_item.item_id %>
</p>

<p>
  <strong>Sac code:</strong>
  <%= @loi_item.sac_code %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @loi_item.quantity %>
</p>

<p>
  <strong>Standard unit:</strong>
  <%= @loi_item.standard_unit_id %>
</p>

<p>
  <strong>Expected Date:</strong>
  <%= @loi_item.expected_date %>
</p>


<p>
  <strong>Rate:</strong>
  <%= @loi_item.rate %>
</p>

<p>
  <strong>Csgt rate:</strong>
  <%= @loi_item.csgt_rate %>
</p>

<p>
  <strong>Csgt amt:</strong>
  <%= @loi_item.csgt_amt %>
</p>

<p>
  <strong>Sgst rate:</strong>
  <%= @loi_item.sgst_rate %>
</p>

<p>
  <strong>Sgst amt:</strong>
  <%= @loi_item.sgst_amt %>
</p>

<p>
  <strong>Igst rate:</strong>
  <%= @loi_item.igst_rate %>
</p>

<p>
  <strong>Igst amt:</strong>
  <%= @loi_item.igst_amt %>
</p>

<p>
  <strong>Tcs rate:</strong>
  <%= @loi_item.tcs_rate %>
</p>

<p>
  <strong>Tcs amt:</strong>
  <%= @loi_item.tcs_amt %>
</p>

<p>
  <strong>Tax amt:</strong>
  <%= @loi_item.tax_amt %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loi_item.amount %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @loi_item.total_amount %>
</p>

<%= link_to 'Edit', edit_loi_item_path(@loi_item) %> |
<%= link_to 'Back', loi_items_path %>
