<p id="notice"><%= notice %></p>

<h1>Restaurant Order Items</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Restaurant menu</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_order_items.each do |restaurant_order_item| %>
      <tr>
        <td><%= restaurant_order_item.order_id %></td>
        <td><%= restaurant_order_item.restaurant_menu_id %></td>
        <td><%= restaurant_order_item.quantity %></td>
        <td><%= restaurant_order_item.amount %></td>
        <td><%= restaurant_order_item.rate %></td>
        <td><%= link_to 'Show', restaurant_order_item %></td>
        <td><%= link_to 'Edit', edit_restaurant_order_item_path(restaurant_order_item) %></td>
        <td><%= link_to 'Destroy', restaurant_order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant Order Item', new_restaurant_order_item_path %>
