<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :menu_name %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.number_field :site_id, id: :menu_site_id %>
  </div>

  <div class="field">
    <%= form.label :generic_info_id %>
    <%= form.number_field :generic_info_id, id: :menu_generic_info_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :menu_description %>
  </div>

  <div class="field">
    <%= form.label :hotel_id %>
    <%= form.number_field :hotel_id, id: :menu_hotel_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :menu_price %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :menu_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
