<%= form_with(model: asset_group, local: true) do |form| %>
  <% if asset_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset_group.errors.count, "error") %> prohibited this asset_group from being saved:</h2>

      <ul>
      <% asset_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :asset_group_name %>
    <%= form.hidden_field :company_id, value: @user.site.company_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :asset_group_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
