<p id="notice"><%= notice %></p>

<p>
  <strong>Qtype:</strong>
  <%= @snag_question.qtype %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @snag_question.descr %>
</p>

<p>
  <strong>Checklist:</strong>
  <%= @snag_question.checklist_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @snag_question.user_id %>
</p>

<p>
  <strong>Img mandatory:</strong>
  <%= @snag_question.img_mandatory %>
</p>

<p>
  <strong>Quest mandatory:</strong>
  <%= @snag_question.quest_mandatory %>
</p>

<p>
  <strong>Active:</strong>
  <%= @snag_question.active %>
</p>

<p>
  <strong>Company:</strong>
  <%= @snag_question.company_id %>
</p>

<p>
  <strong>Qnumber:</strong>
  <%= @snag_question.qnumber %>
</p>

<%= link_to 'Edit', edit_snag_question_path(@snag_question) %> |
<%= link_to 'Back', snag_questions_path %>
