<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <th>Pet name</th>
      <th>Owner mobile no</th>
      <th>Pet breed</th>
      <th>Gender</th>
      <th>Colour</th>
      <th>Age</th>
      <th>Dob</th>
      <th>Is pet transfered</th>
      <th>Brought</th>
      <th>Stray pet adopted</th>
      <th>Whether brought from current city</th>
      <th>Pet born to owner dog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.pet_name %></td>
        <td><%= pet.owner_mobile_no %></td>
        <td><%= pet.pet_breed %></td>
        <td><%= pet.gender %></td>
        <td><%= pet.colour %></td>
        <td><%= pet.age %></td>
        <td><%= pet.dob %></td>
        <td><%= pet.is_pet_transfered %></td>
        <td><%= pet.brought %></td>
        <td><%= pet.stray_pet_adopted %></td>
        <td><%= pet.whether_brought_from_current_city %></td>
        <td><%= pet.pet_born_to_owner_dog %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
