<%= form_with(model: group_member, local: true) do |form| %>
  <% if group_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_member.errors.count, "error") %> prohibited this group_member from being saved:</h2>

      <ul>
      <% group_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.number_field :group_id, id: :group_member_group_id %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.number_field :site_id, id: :group_member_site_id %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id, id: :group_member_company_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
