<p id="notice"><%= notice %></p>

<p>
  <strong>Company Name:</strong>
  <%= @contact_book.company_name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @contact_book.site_id %>
</p>

<p>
  <strong>Generic Info:</strong>
  <%= @contact_book.generic_info_id %>
</p>

<p>
  <strong>Generic Sub Info:</strong>
  <%= @contact_book.generic_sub_info_id %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact_book.mobile %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contact_book.status %>
</p>

<%= link_to 'Edit', edit_contact_book_path(@contact_book) %> |
<%= link_to 'Back', contact_books_path %>
