<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @banner.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @banner.description %>
</p>

<p>
  <strong>Site:</strong>
  <%= @banner.site_id %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
