<%= form_with(model: cam_bill, local: true) do |form| %>
  <% if cam_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cam_bill.errors.count, "error") %> prohibited this cam_bill from being saved:</h2>

      <ul>
      <% cam_bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :unit_id %>
    <%= form.number_field :unit_id, id: :cam_bill_unit_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :cam_bill_user_id %>
  </div>

  <div class="field">
    <%= form.label :bill_date %>
    <%= form.date_select :bill_date, id: :cam_bill_bill_date %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date, id: :cam_bill_due_date %>
  </div>

  <div class="field">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount, id: :cam_bill_total_amount %>
  </div>

  <div class="field">
    <%= form.label :created_by %>
    <%= form.number_field :created_by, id: :cam_bill_created_by %>
  </div>

  <div class="field">
    <%= form.label :sub_amount %>
    <%= form.number_field :sub_amount, id: :cam_bill_sub_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
