<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @snag_answer.question_id %>
</p>

<p>
  <strong>Quest option:</strong>
  <%= @snag_answer.quest_option_id %>
</p>

<p>
  <strong>Ans descr:</strong>
  <%= @snag_answer.ans_descr %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @snag_answer.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @snag_answer.user_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @snag_answer.company_id %>
</p>

<p>
  <strong>Checklist:</strong>
  <%= @snag_answer.checklist_id %>
</p>

<p>
  <strong>Answer type:</strong>
  <%= @snag_answer.answer_type %>
</p>

<p>
  <strong>Answer mode:</strong>
  <%= @snag_answer.answer_mode %>
</p>

<%= link_to 'Edit', edit_snag_answer_path(@snag_answer) %> |
<%= link_to 'Back', snag_answers_path %>
