<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :department_name %>
    <%= form.text_field :department_name, id: :department_department_name %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.number_field :site_id, id: :department_site_id %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id, id: :department_company_id %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :department_active %>
  </div>

  <div class="field">
    <%= form.label :created_by %>
    <%= form.number_field :created_by, id: :department_created_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
