<%= form_with(model: poll_user, local: true) do |form| %>
  <% if poll_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll_user.errors.count, "error") %> prohibited this poll_user from being saved:</h2>

      <ul>
      <% poll_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :poll_id %>
    <%= form.number_field :poll_id, id: :poll_user_poll_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :poll_user_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
