<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @poll_option.content %>
</p>

<p>
  <strong>Poll:</strong>
  <%= @poll_option.poll %>
</p>

<%= link_to 'Edit', edit_poll_option_path(@poll_option) %> |
<%= link_to 'Back', poll_options_path %>
