<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Site</th>
      <th>Category</th>
      <th>Sub category</th>
      <th>Status</th>
      <th>Description</th>
      <th>Created by</th>
      <th>Assigned to</th>
      <th>Total cost</th>
      <th>Tm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.site_id %></td>
        <td><%= ticket.category_id %></td>
        <td><%= ticket.sub_category_id %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.created_by_id %></td>
        <td><%= ticket.assigned_to_id %></td>
        <td><%= ticket.total_cost %></td>
        <td><%= ticket.tm_id %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
