<% hrs = ["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"] 
  mins = ["00", 15,30,45] %>
<tr>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :op_of %>
  <%= f.hidden_field :op_of_id %>
  <%= f.hidden_field :dayofweek %>
  <%= f.hidden_field :of_phase, :value => @phase || "post_possession" %>
  <td><%= f.check_box :is_open, class: 'operational-days' %></td>
  <td><%= @ro.dayofweek.capitalize %></td>
  <td>
    <%= f.select :start_hour, options_for_select(hrs, :selected => (sprintf '%02d', @ro.start_hour.to_i)), {:class=>"width48 form-control", :include_blank => "Hour"} %>
    <%= f.select :start_min, options_for_select(mins, :selected => (sprintf '%02d', @ro.start_min.to_i)), {:class=>"width48 form-control", :include_blank => "Min"} %>
  </td>
  <td>
    <%= f.select :end_hour, options_for_select(hrs, :selected => (sprintf '%02d', @ro.end_hour.to_i)), {:class=>"width48 form-control", :include_blank => "Hour"} %>

    <%= f.select :end_min, options_for_select(mins, :selected => (sprintf '%02d', @ro.end_min.to_i)), {:class=>"width48 form-control", :include_blank => "Min"} %>
  </td>
</tr>

