<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h4 class="ui dividing header"> Vendor Details
          <button type="button" class="btn btn-xs bg-orange pull-right">EDIT</button>
          <div class="clearfix"></div>
        </h4>
        <div class="ui relaxed divided list">
          <div class="item">
            <div class="content">
              <div class="item">
                <div class="header">Vendor Name</div>
                <div class="description"><%= @pms_supplier.name %></div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="item">
                <div class="header">Email Address</div>
                <div class="description"><%= @pms_supplier.email %></div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="item">
                <div class="header">Company Name</div>
                <div class="description"><%= @pms_supplier.company_name %></div>
              </div>
            </div>
          </div><div class="item">
            <div class="content">
              <div class="item">
                <div class="header">Mobile Number</div>
                <div class="description"><%= @pms_supplier.mobile1 %> </div>
              </div>
            </div>
          </div><div class="item">
            <div class="content">
              <div class="item">
                <div class="header">Alternate Number</div>
                <div class="description"><%= @pms_supplier.mobile2 %></div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="item">
                <div class="header">GSTIN Number</div>
                <div class="description"><%= @pms_supplier.gstin_number %> </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="item">
                <div class="header">PAN Number</div>
                <div class="description"><%= @pms_supplier.pan_number %> </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="item">
                <div class="header">Address</div>
                <div class="description"><%= @pms_supplier.address %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	