<div class="row">
        <div class="col-md-12">
        <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="box box-info">
            <%= form_tag("/st_reports.csv", method: :post) do %>

              <div class="box-body">
                
                
               <!--  <div class="form-group col-sm-12">
                  <label>Status</label>
                  <select name="reportof" class="form-control">
                    <option selected="">Select Status</option>
                    <option value="in">Visitors IN</option>
                    <option value="out">Visitors OUT</option>
                      <option value="staff_out">Staff IN</option>
                      <option value="staff_in">Staff OUT</option>
                      <option value="move_in">Move IN</option>
                      <option value="move_out">Movie OUT</option>
                  </select>
                </div> -->

                 <% @cses = @user.selected_user_society.user_society.id_society || @curusoc.id_society %>
                  <% @ss = SocietyStaffType.where(society_id: @cses,active: 1).collect{|w| [w.staff_type, w.id]} %>
 

                <div class="form-group col-sm-6">
                  <label>Staff Name</label>
                   
                  <%= select_tag "q[society_staff_id_eq]", options_for_select(SocietyStaff.where(society_id: @cses).collect{ |u| [u.full_name, u.id]}) , :include_blank => 'select Name', :class=>"form-control"%>
                </div>

                <div class="form-group col-sm-6">
                  <label>Staff Type</label>
                  <%= select_tag "q[society_staff_staff_type_eq]", options_for_select(['Personal','Society','Shared']) ,:include_blank => 'select Staff Type', :class=>"form-control"%>
                </div>


                <div class="form-group col-sm-6">
                  <label>Work Type</label>
                  <%= select_tag "q[society_staff_type_id_eq]", options_for_select(@ss) ,:include_blank => 'Work Type', :class=>"form-control"%>
                </div>

                 <div class="form-group col-sm-6">
                  <label>Status</label>
                  <%= select_tag "q[society_staff_active_eq]", options_for_select([["All"," "],["Active","1"],["Inactive","0"]]), :include_blank => 'Select Status', :class=>"form-control"%>
                </div>
                


                <div class="form-group col-sm-6">
                   <label>From</label>
                  <div class="input-group date">
                    <div class="input-group-addon"> <i class="fa fa-calendar"></i> </div>
                    <input class="form-control pull-right datepicker" placeholder="Select Date" name="q[created_at_gteq]" type="text">
                  </div>
                </div>
                
                <div class="form-group col-sm-6">
                   <label>To</label>
                  <div class="input-group date">
                    <div class="input-group-addon"> <i class="fa fa-calendar"></i> </div>
                    <input name="q[created_at_lteq]" class="form-control pull-right datepicker" placeholder="Select Date" type="text">
                  </div>
                </div>
                
                
                
              </div>
              <div class="box-footer text-center">
                <button type="submit" class="btn btn-info"><i class="fa fa-download margin-r-5" aria-hidden="true"></i> Download</button>
              </div>
            <% end %>
            </div>
          </div>
          
          
           <div class="col-md-2"></div>
          
        </div>
      </div>

<script>
  $(function () {
    $('.datepicker').datepicker({
      format: "dd/mm/yyyy"
    });
  });
</script> 
