<p id="notice"><%= notice %></p>

<h1>Checklist Crons</h1>

<table>
  <thead>
    <tr>
      <th>Checklist</th>
      <th>Expression</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checklist_crons.each do |checklist_cron| %>
      <tr>
        <td><%= checklist_cron.checklist_id %></td>
        <td><%= checklist_cron.expression %></td>
        <td><%= link_to 'Show', checklist_cron %></td>
        <td><%= link_to 'Edit', edit_checklist_cron_path(checklist_cron) %></td>
        <td><%= link_to 'Destroy', checklist_cron, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checklist Cron', new_checklist_cron_path %>
