<p id="notice"><%= notice %></p>

<p>
  <strong>Enumerator:</strong>
  <%= @amenity_booking_rule.enumerator %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @amenity_booking_rule.duration %>
</p>

<p>
  <strong>Level:</strong>
  <%= @amenity_booking_rule.level %>
</p>

<p>
  <strong>Active:</strong>
  <%= @amenity_booking_rule.active %>
</p>

<p>
  <strong>Amenity:</strong>
  <%= @amenity_booking_rule.amenity_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @amenity_booking_rule.site_id %>
</p>

<%= link_to 'Edit', edit_amenity_booking_rule_path(@amenity_booking_rule) %> |
<%= link_to 'Back', amenity_booking_rules_path %>
