<p id="notice"><%= notice %></p>

<h1>Invoice Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created by</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_types.each do |invoice_type| %>
      <tr>
        <td><%= invoice_type.name %></td>
        <td><%= invoice_type.created_by_id %></td>
        <td><%= invoice_type.site_id %></td>
        <td><%= link_to 'Show', invoice_type %></td>
        <td><%= link_to 'Edit', edit_invoice_type_path(invoice_type) %></td>
        <td><%= link_to 'Destroy', invoice_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Type', new_invoice_type_path %>
