<%= form_with(model: @about, local: true, html: { multipart: true }) do |form| %>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :site_id %>
    <%= form.number_field :site_id %>
  </div>

  <div>
    <%= form.label :attachments %>
    <%= form.file_field :attachments, multiple: true %>
  </div>

  <div>
    <%= form.submit "Create About" %>
  </div>
<% end %>
