<%= form_with(model: asset_meter_type, local: true) do |form| %>
  <% if asset_meter_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset_meter_type.errors.count, "error") %> prohibited this asset_meter_type from being saved:</h2>

      <ul>
      <% asset_meter_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :asset_meter_type_name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :asset_meter_type_value %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :asset_meter_type_active %>
  </div>

  <div class="field">
    <%= form.label :unit_name %>
    <%= form.text_field :unit_name, id: :asset_meter_type_unit_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
