<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :resour_id %>
    <%= form.number_field :resour_id, id: :payment_resour_id %>
  </div>

  <div class="field">
    <%= form.label :resource_type %>
    <%= form.text_field :resource_type, id: :payment_resource_type %>
  </div>

  <div class="field">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount, id: :payment_total_amount %>
  </div>

  <div class="field">
    <%= form.label :paid_amount %>
    <%= form.text_field :paid_amount, id: :payment_paid_amount %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :payment_user_id %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= form.text_field :payment_method, id: :payment_payment_method %>
  </div>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.text_field :transaction_id, id: :payment_transaction_id %>
  </div>

  <div class="field">
    <%= form.label :paymen_date %>
    <%= form.date_select :paymen_date, id: :payment_paymen_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
