<p id="notice"><%= notice %></p>

<h1>Parking Configurations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Building</th>
      <th>Floor</th>
      <th>Vehicle type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_configurations.each do |parking_configuration| %>
      <tr>
        <td><%= parking_configuration.name %></td>
        <td><%= parking_configuration.building_id %></td>
        <td><%= parking_configuration.floor_id %></td>
        <td><%= parking_configuration.vehicle_type %></td>
        <td><%= link_to 'Show', parking_configuration %></td>
        <td><%= link_to 'Edit', edit_parking_configuration_path(parking_configuration) %></td>
        <td><%= link_to 'Destroy', parking_configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking Configuration', new_parking_configuration_path %>
