<p id="notice"><%= notice %></p>

<p>
  <strong>Asset:</strong>
  <%= @activity.asset_id %>
</p>

<p>
  <strong>Checklist:</strong>
  <%= @activity.checklist_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @activity.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @activity.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @activity.status %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @activity.assigned_to %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
