<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @business_card.full_name %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @business_card.profession %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @business_card.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business_card.email_id %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @business_card.website_url %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business_card.address %>
</p>

<%= link_to 'Edit', edit_business_card_path(@business_card) %> |
<%= link_to 'Back', business_cards_path %>
