<%= form_with(model: aminity, local: true) do |form| %>
  <% if aminity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aminity.errors.count, "error") %> prohibited this aminity from being saved:</h2>

      <ul>
      <% aminity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :aminity_name %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.number_field :site_id, id: :aminity_site_id %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :aminity_cost %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :aminity_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
