<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @aminity.name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @aminity.site_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @aminity.cost %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @aminity.cost %>
</p>

<%= link_to 'Edit', edit_aminity_path(@aminity) %> |
<%= link_to 'Back', aminities_path %>
