<%= form_with(model: permit_safety_equipment, local: true) do |form| %>
  <% if permit_safety_equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permit_safety_equipment.errors.count, "error") %> prohibited this permit_safety_equipment from being saved:</h2>

      <ul>
      <% permit_safety_equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :safety_equipment_name %>
    <%= form.text_field :safety_equipment_name, id: :permit_safety_equipment_safety_equipment_name %>
  </div>

  <div class="field">
    <%= form.label :permit_type_id %>
    <%= form.number_field :permit_type_id, id: :permit_safety_equipment_permit_type_id %>
  </div>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.number_field :activity_id, id: :permit_safety_equipment_activity_id %>
  </div>

  <div class="field">
    <%= form.label :sub_activity_id %>
    <%= form.number_field :sub_activity_id, id: :permit_safety_equipment_sub_activity_id %>
  </div>

  <div class="field">
    <%= form.label :hazard_category_id %>
    <%= form.number_field :hazard_category_id, id: :permit_safety_equipment_hazard_category_id %>
  </div>

  <div class="field">
    <%= form.label :permit_risk_id %>
    <%= form.number_field :permit_risk_id, id: :permit_safety_equipment_permit_risk_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
