<p id="notice"><%= notice %></p>

<p>
  <strong>Service detail:</strong>
  <%= @loi_service.service_detail_id %>
</p>

<p>
  <strong>Product description:</strong>
  <%= @loi_service.product_description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @loi_service.quantity %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @loi_service.rate %>
</p>

<p>
  <strong>Uom:</strong>
  <%= @loi_service.uom %>
</p>

<p>
  <strong>Expected date:</strong>
  <%= @loi_service.expected_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loi_service.amount %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @loi_service.total_amount %>
</p>

<p>
  <strong>Kind attention:</strong>
  <%= @loi_service.kind_attention %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @loi_service.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loi_service.description %>
</p>

<p>
  <strong>Terms and conditions:</strong>
  <%= @loi_service.terms_and_conditions %>
</p>

<p>
  <strong>Service order:</strong>
  <%= @loi_service.service_order_id %>
</p>

<%= link_to 'Edit', edit_loi_service_path(@loi_service) %> |
<%= link_to 'Back', loi_services_path %>
