<p id="notice"><%= notice %></p>

<h1>Receipt Setups</h1>

<table>
  <thead>
    <tr>
      <th>Prefix</th>
      <th>Next number</th>
      <th>Auto generate</th>
      <th>Receipt number</th>
      <th>Created by</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipt_setups.each do |receipt_setup| %>
      <tr>
        <td><%= receipt_setup.prefix %></td>
        <td><%= receipt_setup.next_number %></td>
        <td><%= receipt_setup.auto_generate %></td>
        <td><%= receipt_setup.receipt_number %></td>
        <td><%= receipt_setup.created_by %></td>
        <td><%= receipt_setup.site_id %></td>
        <td><%= link_to 'Show', receipt_setup %></td>
        <td><%= link_to 'Edit', edit_receipt_setup_path(receipt_setup) %></td>
        <td><%= link_to 'Destroy', receipt_setup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt Setup', new_receipt_setup_path %>
