<%= form_with(model: share_with, local: true) do |form| %>
  <% if share_with.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(share_with.errors.count, "error") %> prohibited this share_with from being saved:</h2>

      <ul>
      <% share_with.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :share_with_user_id %>
  </div>

  <div class="field">
    <%= form.label :shared_by %>
    <%= form.number_field :shared_by, id: :share_with_shared_by %>
  </div>

  <div class="field">
    <%= form.label :folder_id %>
    <%= form.number_field :folder_id, id: :share_with_folder_id %>
  </div>

  <div class="field">
    <%= form.label :document_id %>
    <%= form.number_field :document_id, id: :share_with_document_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
