<%= form_with(model: permit_risk, local: true) do |form| %>
  <% if permit_risk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permit_risk.errors.count, "error") %> prohibited this permit_risk from being saved:</h2>

      <ul>
      <% permit_risk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :permit_type_id %>
    <%= form.number_field :permit_type_id, id: :permit_risk_permit_type_id %>
  </div>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.number_field :activity_id, id: :permit_risk_activity_id %>
  </div>

  <div class="field">
    <%= form.label :sub_activity_id %>
    <%= form.number_field :sub_activity_id, id: :permit_risk_sub_activity_id %>
  </div>

  <div class="field">
    <%= form.label :hazard_category_id %>
    <%= form.number_field :hazard_category_id, id: :permit_risk_hazard_category_id %>
  </div>

  <div class="field">
    <%= form.label :risk_description %>
    <%= form.text_area :risk_description, id: :permit_risk_risk_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
